body{
    background-image: url("../background.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
h1,h2,h3{
    color: greenyellow;
    font-family: "Courier 10 Pitch";
}
.name{
    padding-top: 50px;
}
#ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#li{
    float: left;
}
#a{
    display: block;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-family: "Source Code Pro";
}
p{
    font-family: "Source Code pro";
    color: greenyellow;
}
