body{
    background-image: url("../background.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
h1{
    color: green;
    font-family: "Courier 10 Pitch";
}
.name{
    padding-top: 50px;
}
#ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#li{
    float: left;
}
#a{
    display: block;
    color: lightgoldenrodyellow;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-family: "Source Code Pro";
}
p{
    font-family: "Source Code pro";
    color: green;
}
.translucent{
    margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=40);
}
.translucent p {
  margin: 5%;
  font-weight: bold;
  color: green;
}
h1{
    color: greenyellow;
}
==============================================
slideUp
==============================================
*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 3s;
	-webkit-animation-duration: 3s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
