body{
    margin: 0 auto;
    background-image:url(../bg2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}
li{
    float: right;
}
li{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
img{
    width: 100%;
    height: 250px;
}
#desc{
    text-align: center;
}
.translucent{
    margin: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=40);
}
#top{
    padding-left: 50px;
}
h1,h2,h3,h4,p,li{
    color: darkblue;
}
form{
    padding-left: 5em;
}
#submit{
    color: aquamarine
}
.input{
    margin-left: auto;
    margin-right: auto;
    column-span: 1;
    margin-right: 10%;
}
#textbox{
    height: 5em;
}
