*{
    margin: 0;
    padding: 0;
}
nav{
    height: 100px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: aqua;
    z-index: 900;
}
header #menu{
    float: right;
    height: 100%;
    list-style-type: none;
    text-align: center;
    position: relative;
    right: 12.5%;
}
#menu li{
    display: inline-block;
    position: relative;
    margin: 0 20px;
    box-sizing: border-box;
    margin-top: 40px;
    cursor: pointer;
    -webkit-transition: color .2s;
     transition: color .2s;
}
 header nav #menu li:after{
    position: absolute;
    top: -13px;
    right: 51%;
    display: block;
    right: 5%;
    width: 1px;
    height: 0;
    background-color: #257596;
    content: '';
    -web-kit-transition: height .2s;
    transition: height .2s;
}
header nav #menu li:hover:after{
    height: 48px;
}
 header nav #menu li: hover{
    color: #257596;
}
h1{
    color: rebeccapurple;
}
