.row.row {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

.landing-page {
    min-height: 100%;
}

a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/*
body {
    font-family: "Merriweather", serif;
    font-size: 16px;
    line-height: 1.5;
}
*/


/*link hover effects*/

.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/*   landing page style*/

.hero {
    text-align: center;
    position: relative;
    height: auto;
    padding-bottom: 80px;
    background: #4f2f60 url("http://miguelquispe.com/pen/images/hero.jpg") center top no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.down {
    height: 200px;
}

.hero h1 {
    margin: 50px 0 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
}

.hero h1 span {
    font: 700 60px/1 "Dancing Script", cursive;
    display: block;
}

.hero h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    font-weight: 400;
    padding: 20px;
}

@media only screen and (min-width: 37.5em) {
    .hero h1 {
        font-size: 50px;
    }
    .hero h1 span {
        font-size: 76px;
    }
    .hero h2 {
        width: 76%;
        font-size: 18px;
    }
}

ul {
    list-style-type: none;
}

.text-box {
    padding: 6em;
}


/**Portfolio hover effects**/

* {
    font-family: Quicksand;
    text-align: center;
    transition: all 0.2s ease;
}

.imgWrap {
    /*    width: 300px;*/
    height: 300px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    /*    display: inline-block;*/
}

img {
    /*    position: absolute;*/
    /*    margin-left: -150px;*/
    /*    z-index: -1;*/
}

.imgWrap:hover {
    background-color: rgba(22, 160, 133, 0.7);
}

.content {
    width: 300px;
    height: 111px;
    background-color: rgba(26, 188, 156, 1.0);
}

.content > * {
    text-align: left;
    margin-left: 8px;
}

.one {
    background-image: url(../Screenshot.png);
    /*    background-size: 100% 300px;*/
}

.two {
    background-image: url(../Screenshot12.png)
}

.one .content {
    transform: translateY(300px);
}

.one:hover .content {
    transform: translateY(189px);
}

.two .content {
    height: 300px;
    width: 111px;
    transform: translateY(-21px) translateX(-111px);
}

.two:hover .content {
    transform: translateY(-21px) translateX(0px);
}

.three .content {
    transform: translateY(-132px) translateX(0px);
}

.three:hover .content {
    transform: translateY(-21px) translateX(0px);
}

.four .content {
    height: 300px;
    width: 111px;
    transform: translateY(-21px) translateX(300px);
}

.four:hover .content {
    transform: translateY(-21px) translateX(189px);
}


/*styling for the form*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}

body {
    font-family: 'Lato', sans-serif;
    background: #e2dedb;
}

header {
    position: relative;
    margin: 10px 0 15px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

#form {
    position: relative;
    width: 500px;
    margin: 20px auto 50px auto;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #b3aca7;
    color: #e2dedb;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}

#submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline: none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
}

#submit:hover {
    color: #e2dedb;
}


/*about me*/

#txt {
    font-family: 'Lato', sans-serif;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.img {
    /*    height: 350px;*/
    /*    width: 300px;*/
}

.tl {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
}

h3,
h4 {
    font-family: 'Walkway SemiBold';
}

li {
    font-family: 'Walkway Oblique';
}

.footer a {
    padding: 15px 20px;
}

#bl {}

.footer {
    height: 200px;
    padding-top: 30px;
}

.contact {
    padding-top: 30px;
}

#cpr {
    color: whitesmoke;
    padding-top: 5px;
}

.footer {
    background-color: fuchsia;
}

.navi {
    position: fixed;
    background-color: ;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Quicksand', sans-serif;
}


/*    hobby hover effects*/

.collumn {
    margin: 0;
    padding: 0;
}

.collumn:last-child {
    padding-bottom: 60px;
}

.collumn::after {
    content: '';
    clear: both;
    display: block;
}

.collumn div {
    position: relative;
    float: left;
    /*    width: 300px;*/
    height: 200px;
    /*    margin: 0 0 0 25px;*/
    padding: 0;
}

.collumn div:first-child {
    margin-left: 0;
}

.collumn div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}

figure {
    /*    width: 300px;*/
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}
